@charset "utf-8";

.inner {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}
.no-contents {
    display: grid;
    place-items: center;
    height: calc(100vh - 112px);
    font-family: 'KumbhSans', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #333;
}