@charset "utf-8";

:root {
    --innerWidth: 1110px;
    --innerPadding: 65px;
    --innerOutWidth: calc(var(--innerWidth) + calc(var(--innerPadding) * 2));
}

.inner {
    width: 100%;
    max-width: var(--innerOutWidth);
    margin: 0 auto;
    padding: 0 var(--innerPadding);
}
.no-contents {
    display: grid;
    place-items: center;
    height: calc(100vh - 112px);
    font-family: 'KumbhSans', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #333;
}