@charset "utf-8";

.CartBox {
    position: absolute;
    bottom: 18px;
    right: -50px;
    transform: translateY(100%);
    width: 360px;
    height: 256px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'KumbhSans';
    box-shadow: 0 20px 50px -20px rgba(29, 32, 38, 0.5);
}
.name__box {
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    color: #1D2026;
    padding: 24px 24px 23px;
    border-bottom: solid 1px #E4E9F2;
}
.name-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    color: #69707D;
}
.product__box {
    display: grid;
    place-items: center;
    height: 188px;
    overflow-y: auto;
}
.no-items__text {
    display: block;
}